header {
	background-color: #ffffff;
	border-color: #cccccc;
}

body {
	/* Background color */
	background-image: url("assets/images/symphony.png");
	/*Font */
	font-style: "Georgia"
	/* Font Color */
	text: #ffffff;
	/* Margin to flush to top */
    width: 960px;
}

h1 {
      /* Put a 15-pixel margin at the bottom of the heading. */
      margin-bottom: 15px;
      /* Change the size of your font to 28 pixels high. */
      font-size: 28px;
      /* This will color the heading font white. */
      color: #eee;
      /* Align the text to the center of its enclosing element (e.g. div). */
      text-align: center;
      /* Underline the text. */
      text-decoration: underline;
      /* The background of the heading element will now be blue. */
      background-color: #333333;
      font-style: 'Georgia';
      border-color: #cccccc
   	}

.container {
    width: 960px;
    margin: 0 auto;
    border-color: #dddddd;
    background-color: #ffffff;
} 

#main-bio {

	float: left;
	width: 650px;
	margin: 0 auto;
	background-color: #4aaaa5
  position: relative;
}

#sidebar {
	float: left;
	width: 200px
	height: 600px;
	background-color: #4aaaa5
}

footer {
  background-color: #666666;
  float: bottom;
}